<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
    <th:block th:insert="fragments/general::stylesheets"/>
    <title th:text="#{ui.page.dashboard.title}">Dashboard</title>
</head>
<body>
    <div class="page dashboard-page">
        <div class="container-fluid wrapper">
            <th:block th:insert="fragments/general::dashboard-header"/>
            <div class="content row">
                <div class="col-md-2 sidebar-column">
                    <th:block th:insert="fragments/general::sidebar"/>
                </div>
                <div class="col-md-10 panel-column">
                    <div class="form-row action-plan-selector-row align-items-baseline mt-2">
                        <div class="col-md-4">
                            <label class="selector-label" th:text="#{ui.dashboard.content.selector.label.text}">Choose an action plan</label>
                        </div>
                        <div class="col-md-8">
                            <select name="action-plan-selector" class="action-plan-selector form-control">
                                <option th:text="${actionPlanActiveOption}"></option>
                                <option>option 2</option>
                                <option>option 3</option>
                                <option>option 4</option>
                            </select>
                        </div>
                    </div>
                    <section class="row action-plan-panel">
                        <div class="container-fluid">
                            <div class="row d-flex">
                                <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
                                    <div class="card action-plan-tree-holder mt-3 mb-2 pl-2 pr-2 pt-2 pb-2">
                                        <h5 class="action-plan-synthesis-text" th:text="#{ui.dashboard.content.action.plan.text}">Synthesis</h5>
                                        <div id="action-plan-tree">

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
                                    <div class="card action-plan-synthesis-holder mt-3 mb-2 px-2 py-2">
                                        <h5 class="action-plan-synthesis-text" th:text="#{ui.dashboard.content.action.plan.synthesis.text}">Synthesis</h5>
                                        <div class="container-fluid synthesis-container">
                                            <div class="row d-flex">
                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                    <div class="card status-card budget-status-holder mt-3">
                                                        <div class="card-header d-flex justify-content-between">
                                                            <span class="budget-status-text status-card-title float-left h6 my-auto" th:text="#{ui.dashboard.content.budget.status.text}"></span>
                                                            <span class="card-icon float-right budget-icon my-auto">
                                                                <i class="fas fa-money-bill-alt fa-fw fa-lg"></i>
                                                            </span>
                                                        </div>
                                                        <div class="card-body">
                                                            <div class="budget-total p-2">
                                                                <span class="total-text float-left" th:text="#{ui.dashboard.content.action.plan.synthesis.budget.total.text}">Total Budget</span>
                                                                <span class="total float-right" th:text="${totalOfBudget}">35 000 000 000 FCFA</span>
                                                            </div>
                                                            <div class="flex-wrapper budget-pie-chart">
                                                                <div class="single-chart mx-auto" th:utext="${budgetSpentChart}"></div>

                                                            </div>
                                                            <div class="budget-pie-chart-details">
                                                                <div class="pie-charts-details-headings d-flex justify-content-between">
                                                                   <span>
                                                                        <i class="fas fa-circle fa-fw float-left my-auto budget-spent-bullet"></i>
                                                                       <span class="budget-spent-heading float-left my-auto" th:text="#{ui.dashboard.content.budget.spent.text}"></span>
                                                                    </span>
                                                                    <span>
                                                                        <i class="fas fa-circle fa-fw my-auto budget-available-bullet"></i>
                                                                        <span class="budget-available-heading float-right my-auto" th:text="#{ui.dashboard.content.budget.available.text}">Budget Available</span>
                                                                    </span>
                                                                </div>
                                                                <div class="pie-chart-details-values d-flex justify-content-between">
                                                                    <span class="budget-spent-value float-left" th:text="${budgetSpentValue}">

                                                                </span>
                                                                    <span class="budget-available-value float-right" th:text="${budgetAvailableValue}">
                                                                </span>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="card-footer">
                                                            <a href="#" class="view-more-link" th:text="#{ui.view.more.text}">View more...</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row d-flex">
                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                    <div class="card status-card financial-implementation-rate-holder mt-3">
                                                        <div class="card-header d-flex justify-content-between">
                                                            <span class="financial-implementation-rate-text status-card-title float-left h6 my-auto" th:text="#{ui.dashboard.content.financial.implementation.rate.text}"></span>
                                                            <span class="card-icon float-right finance-icon my-auto">
                                                             <i class="fas fa-coins fa-fw fa-lg"></i>
                                                            </span>
                                                        </div>
                                                        <div class="card-body">
                                                            <div class="gauge-container">
                                                                <div class="gauge">
                                                                    <div class="gauge__body">
                                                                        <div class="gauge__fill"></div>
                                                                        <div class="gauge__cover">50%</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <script>
                                                                /*<![CDATA[*/
                                                                const gaugeElement = document.querySelector(".gauge");

                                                                function setGaugeValue(gauge, value) {
                                                                    if (value < 0 || value > 1) {
                                                                        return;
                                                                    }

                                                                    gauge.querySelector(".gauge__fill").style.transform = `rotate(${
                                                                        value / 2
                                                                    }turn)`;
                                                                    gauge.querySelector(".gauge__cover").textContent = `${Math.round(
                                                                        value * 100
                                                                    )}%`;
                                                                }
                                                                var financialImplementationRate =[[${financialImplementationRate}]];
                                                                setGaugeValue(gaugeElement, financialImplementationRate);
                                                                /*]]>*/
                                                            </script>
                                                        </div>
                                                        <div class="card-footer">
                                                            <a href="#" class="view-more-link" th:text="#{ui.view.more.text}">View more...</a>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row d-flex">
                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                    <div class="card status-card progress-rate-holder mt-3">
                                                        <div class="card-header d-flex justify-content-between">
                                                            <span class="progress-rate-text status-card-title float-left h6 my-auto" th:text="#{ui.dashboard.content.progress.rate.text}"></span>
                                                            <span class="card-icon float-right progress-icon my-auto">
                                                                <i class="fas fa-chart-line fa-fw fa-lg"></i>
                                                            </span>
                                                        </div>
                                                        <div class="card-body">

                                                        </div>
                                                        <div class="card-footer">
                                                            <a href="#" class="view-more-link" th:text="#{ui.view.more.text}">View more...</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <th:block th:insert="fragments/general::footer"/>
    <th:block th:insert="fragments/general::scripts"/>
    <script>
        $(function() {
            /** SIDE MENU **/
            // active menu item
           /* $('.menu-item').click(function (e) {
                if(!$(this).hasClass('active')){
                    $('.menu-item').not(this).filter('.active').removeClass('active');
                    $('.menu-item').not(this).addClass('collapsed');
                    $(this).addClass('active');
                }

                if($(this).find('ul.sub-menu').length>0){
                    $('[aria-expanded="true"]').not(this).attr('aria-expanded','false');
                    $('.menu-item').not(this).children('.sub-menu.collapse.show').removeClass( "show", 400);
                }else{
                    $('.menu-item').not(this).children('.sub-menu.collapse.show').removeClass( "show", 100);
                }
            });*/

            // active sub-menu item
            /*$('.sub-menu li').click(function (e) {
                $('.sub-menu li').not(this).filter('.active').removeClass('active');
                $(this).addClass('active');
            });*/

            /** ACTION PLAN TREE */

            let actionPlanTreeDataURL="/action-plan-tree";

            // ajax call to get tree data
            $.ajax({
                url: actionPlanTreeDataURL,
                type:'GET',
                dataType:'json',
                success: function(response){
                    let tree = [];
                    tree.push(response);
                    buildActionPlanTree(tree);
                }
            });//end of ajax call

            $(document).on('click','.jqtree-element',function(){
                $('.jqtree-element').not($(this)).addClass('border');
                $(this).removeClass('border');
                $(this).css("border", "2px solid #2ca5d7");
            });

            $(document).on('mouseover','.jqtree-element',function(){
                $(this).removeClass('border');
                $(this).css("border", "1px solid #9160A6");
                if($(this).parent().hasClass('jqtree-selected')){
                    $(this).css("border", "2px solid #9160A6");
                }

            });

            $(document).on('mouseleave','.jqtree-element',function(){
                $(this).addClass('border');
                if($(this).parent().hasClass('jqtree-selected')){
                    $(this).removeClass('border');
                    $(this).css("border", "2px solid #2ca5d7");
                }
            });

        });
    </script>

</body>
</html>